#Manage_vehicle_section {
    position: relative;
    padding: 20px 0;
}
.title {
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;
    color: #303A52;
}
.title i {
    font-size: 30px;
    color: #303A52;
}
hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
* {
    font-family: 'Merriweather',
        serif;
}
