* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;

}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}


.header{
    width: 100%;
   
    
}
.navbar{
    top: 0;
    left: 0;
    width: 100%;
    padding: 4px 2%;
    background-color: #fff;
    transition: all linear 0.3s;
    z-index: 999;
    box-shadow: 0px 5px 4px rgba(128, 128, 128, 0.387);
}
.logo{
    width: 70px;
    height: 70px;
}
.header .navbar a{
    display: flex;
}
.textlogo{
    height: 70px;
    width: 70px;
    margin-left: 20px;
}
.textlogofirst{
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    font-weight: 700;
}
.textlogosecond{
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 300;
}
.navicon{
    width: 100%;
    text-align: justify;
    margin-left: 10px;
    padding: 7px 15px;
    border-radius: 20px 10px 10px 20px;
    background-image: linear-gradient(to right,rgb(48, 185, 235),rgba(255, 255, 255,0.09));
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 400;
    
}
