* {
    padding: 0;
    margin: 0;
}

ul,
ol {
    list-style: none;

}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}
body, html {
    font-family: 'Roboto', serif;
    background: #fff;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    width: 100%;
}
tbody{
    font-size: 14px;
}
hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}
a{
    text-decoration: none;
    
}
a:hover{
    border-radius: 3px;
    padding: 3px;
    color: blueviolet;
} 
