{% load static %}
<link rel="stylesheet" href=" {% static 'css/adminnavbar.css' %}">


<div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#">
        <img src="{% static 'images/justlogo.png' %}" style="width: 3vw; min-width: 3px;"/>
        <span class="textlogo">  <span class="textlogofirst">JUST</span> <br> <span class="textlogosecond">Vehicle Management System</span></span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AdminHome' %}"><span class="navicon">Home</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AdminNotice' %}"><span class="navicon">Notice</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'AdminUserCost' %}"><span class="navicon">UserCost</span></a> 
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="navicon">Request</span></a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="{% url 'AdminVehicle' %}"><span class="navicon">Vehicle</span></a>
          </li>
          <li class="nav-item"> 
            <a class="nav-link" href="{% url 'AdminDriver' %}"><span class="navicon">Driver</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="navicon">LogOut</span></a>
          </li>
  
      </div>
    </nav>
  </div> 
  