<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/95f402962e.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/adminaddvehicle.css'%}">
    <title>Document</title>
</head>

<body>

<div>
    {% include 'adminnavbar.html' %}
</div>

    <section id="Add_vehicle_section">
        <div class="container">
            <div class="row">
                <div class="col">
                    <h2 class="title"><i class="fas fa-edit m-2"></i>Add new vehicle </h2>
                    <hr>
                </div>
            </div>
            <form>
                <div class="row">
                    <div class="col">
                        <div class="from-group">
                            <label for="Vehicle id" class="font-weight-bold">Vehicle
                                id
                            </label>
                            <input type="text" class="form-control" required="1" placeholder="Vehicle Id">
                        </div>
                        <div class="from-group">
                            <label for="title" class="font-weight-bold">Vehicle name</label>
                            <input type="text" name="bus_name" required="1" class="form-control"
                                placeholder="Vehicle Name">
                        </div>
                        <div class="from-group">
                            <label for="title" class="font-weight-bold">Select vehicle
                                type
                            </label>
                            <select class="form-control">
                                <option value="-1">Vehicle Type </option>
                                <option value="Ambulance">Ambulance</option>
                                <option value="Micro-Bus">Micro-Bus</option>
                                <option value="Pick-Up">Pick-Up</option>
                                <option value="AC-Minibus">AC-Minibus</option>
                                <option value="Non-AC Minibus">Non-AC Minibus</option>
                                <option value="Single Deck Bus">Single Deck Bus</option>
                                <option value="Double Deck Bus">Double Deck Bus</option>
                            </select>
                        </div>
                        <input type="submit" class="form-control btn btn-primary my-3" value="Add Vehicle">
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>

</html>