<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap" rel="stylesheet">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/95f402962e.js" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/subadmindriver.css'%}">
    <!-- <link rel="shortcut icon" href="image/logo.png" type="image/x-icon"> -->
    <title>Driver</title>
</head>

<body>
    <div>
        {% include 'subadminnavbar.html' %}
    </div>

    <section class="my-5">
        <div class="container">
            <div class="row text-center">
                <div class="col title">
                    <h2>
                        <i class="fas fa-bus"></i>
                        Manage all vehicles
                    </h2>
                </div>
                <!-- <div class="col add-button">

                    <h5><a href="{% url 'adminAddDriver' %}"><i class="fas fa-plus-square"></i>
                            Add new driver</a></h5>
                </div> -->
                <hr>
            </div>

            <div class="row my-5">
                <div class="col-md-9">
                    <div class="form-group">
                        <input type="text" name="search" class="form-control" placeholder="Keywords any type">

                    </div>
                </div>
                <div class="col-md-3">
                    <button type="submit" name="searchSubmit" class="btn btn-primary">Click to Search</button>
                </div>

            </div>

            <!--table start  -->

            <div class="row">
                <div class="col">
                    <table class="table table-hover table-striped">
                        <thead>
                            <tr>
                                <th>Sl.</th>
                                <th>Name</th>
                                <th>Id</th>
                                <th>Vehicle Rides</th>
                                <th>Vehicle id</th>
                                <th>Phone no</th>
                                <th>Action</th>
                            </tr>
                        </thead>




                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">1</th>

                                <td> Md Arifur Islam </td>
                                <td> D-1002 </td>

                                <td>VC Doptor(Pick-Up)</td>

                                <td> যশোর-চ-৫১-০০২৮ </td>
                                <td> 01966180612 </td>

                                <td> <a href="  #=2">Edit</a> | <a href="  ##=2">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">2</th>

                                <td> Md Mizanur Rahman </td>
                                <td> D-1003 </td>

                                <td>VC Doptor(Pick-Up)</td>

                                <td> যশোর-ঘ-১১-০০৬৫ </td>
                                <td> 01717237322 </td>

                                <td> <a href="  #=3">Edit</a> | <a href="  ##=3">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">3</th>

                                <td> Md Monir Hossain </td>
                                <td> D-1004 </td>

                                <td>VC Doptor(Micro-Bus)</td>

                                <td> ঢাকা মেট্রো-গ-৩৭-৪২৬৯ </td>
                                <td> 01719915307 </td>

                                <td> <a href="  #=4">Edit</a> | <a href="  ##=4">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">4</th>

                                <td> Md Juiwel Ahmed </td>
                                <td> D-1005 </td>

                                <td>Register / Treasurer(Micro-Bus)</td>

                                <td> ঢাকা মেট্রো-চ-১২-৩৩৫৭ </td>
                                <td> 01712474361 </td>

                                <td> <a href="  #=5">Edit</a> | <a href="  ##=5">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">5</th>

                                <td> Md Johorul Islam </td>
                                <td> D-1006 </td>

                                <td>Doptor-Prodhan(Micro-Bus)</td>

                                <td> ঢাকা মেট্রো-চ-৫১-০০২৩০ </td>
                                <td> 01723568596 </td>

                                <td> <a href="  #=6">Edit</a> | <a href="  ##=6">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">6</th>

                                <td> Md Sowkat </td>
                                <td> D-1007 </td>

                                <td>Din(Micro-Bus)</td>

                                <td> ঢাকা মেট্রো-চ-৫১-০০২৯ </td>
                                <td> 01763009040 </td>

                                <td> <a href="  #=7">Edit</a> | <a href="  ##=7">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">7</th>

                                <td> Md Mirzarul Kabir </td>
                                <td> D-1008 </td>

                                <td>Proktor-Doptor(Micro-Bus)</td>

                                <td> ঢাকা মেট্রো-চ-৫১-০০১৪ </td>
                                <td> 01721776762 </td>

                                <td> <a href="  #=8">Edit</a> | <a href="  ##=8">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">8</th>

                                <td> Md Tuhin Sorder </td>
                                <td> D-1009 </td>

                                <td>Voirob(AC-Minibus)</td>

                                <td> ঢাকা মেট্রো-ঝ-১১-০৫৩৮ </td>
                                <td> 01770746883 </td>

                                <td> <a href="  #=9">Edit</a> | <a href="  ##=9">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">9</th>

                                <td> Md Sahed Ali </td>
                                <td> D-1010 </td>

                                <td>Kopotakkho(AC-Minibus)</td>

                                <td> যশোর-ঝ-১১-০০০৮ </td>
                                <td> 01766286265 </td>

                                <td> <a href="  #=10">Edit</a> | <a href="  ##=10">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">10</th>

                                <td> S M Sah Alom </td>
                                <td> D-1011 </td>

                                <td>Modhumoti(AC-Minibus)</td>

                                <td> যশোর-ঝ-১১-০০১১ </td>
                                <td> 01712698873 </td>

                                <td> <a href="  #=11">Edit</a> | <a href="  ##=11">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">11</th>

                                <td> Golam Mostufa Laltu </td>
                                <td> D-1012 </td>

                                <td>Kamini(Single Deck Bus)</td>

                                <td> যশোর-স-১১-০০০১ </td>
                                <td> 01718051811 </td>

                                <td> <a href="  #=12">Edit</a> | <a href="  ##=12">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">12</th>

                                <td> Mr Shimul Ghosh </td>
                                <td> D-1013 </td>

                                <td>Shapla(Pick-Up)</td>

                                <td> ঢাকা মেট্রো-স-১৪-০০৪২ </td>
                                <td> 01791435860 </td>

                                <td> <a href="  #=13">Edit</a> | <a href="  ##=13">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">13</th>

                                <td> Md Sobur Montu </td>
                                <td> D-1014 </td>

                                <td>Chameli(Single Deck Bus)</td>

                                <td> যশোর-স-১১-০০৯ </td>
                                <td> 01710700734 </td>

                                <td> <a href="  #=14">Edit</a> | <a href="  ##=14">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">14</th>

                                <td> Md Kamal Hossain </td>
                                <td> D-1015 </td>

                                <td>Golap(Single Deck Bus)</td>

                                <td> যশোর-স-১১-০০০৮ </td>
                                <td> 01734052131 </td>

                                <td> <a href="  #=15">Edit</a> | <a href="  ##=15">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">15</th>

                                <td> Md Robiul Islam </td>
                                <td> D-1016 </td>

                                <td>Chitra(Single Deck Bus)</td>

                                <td> যশোর-ঝ-১১-০০০৩ </td>
                                <td> 01721342961 </td>

                                <td> <a href="  #=16">Edit</a> | <a href="  ##=16">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">16</th>

                                <td> Md Jakir Hossain </td>
                                <td> D-1017 </td>

                                <td>Ambulance(Ambulance)</td>

                                <td> যশোর-ক-৭১-০০৩৪ </td>
                                <td> 01963499495 </td>

                                <td> <a href="  #=17">Edit</a> | <a href="  ##=17">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">17</th>

                                <td> Md Roshid </td>
                                <td> D-1018 </td>

                                <td>Oporajita(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৫৭৩০ </td>
                                <td> 01718085499 </td>

                                <td> <a href="  #=18">Edit</a> | <a href="  ##=18">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">18</th>

                                <td> Md Mekail </td>
                                <td> D-1019 </td>

                                <td>Joba(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৫৮১৪ </td>
                                <td> 0193404344 </td>

                                <td> <a href="  #=19">Edit</a> | <a href="  ##=19">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">19</th>

                                <td> Md Belaiet </td>
                                <td> D-1020 </td>

                                <td>Hasnahena(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৬০৬২ </td>
                                <td> 01725162037 </td>

                                <td> <a href="  #=20">Edit</a> | <a href="  ##=20">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">20</th>

                                <td> Md Abul </td>
                                <td> D-1021 </td>

                                <td>Konokchapa(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৬০৯২ </td>
                                <td> 01711135675 </td>

                                <td> <a href="  #=21">Edit</a> | <a href="  ##=21">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">21</th>

                                <td> Md Nizam </td>
                                <td> D-1022 </td>

                                <td>Rojonigondha(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৬১০৬ </td>
                                <td> 01911509361 </td>

                                <td> <a href="  #=22">Edit</a> | <a href="  ##=22">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">22</th>

                                <td> Md Soleman Munsi </td>
                                <td> D-1023 </td>

                                <td>Dolonchapa(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৬১১৯ </td>
                                <td> 01725903118 </td>

                                <td> <a href="  #=23">Edit</a> | <a href="  ##=23">Delete</a> </td>

                            </tr>

                        </tbody>



                        <tbody>
                            <tr>
                                <th class="hideInSmall" scope="row">23</th>

                                <td> Md Juiwel Admed </td>
                                <td> D-1024 </td>

                                <td>Surjomukhi(Double Deck Bus)</td>

                                <td> ঢাকা-মে-ব-১১-৬২৩৫ </td>
                                <td> 01760816969 </td>

                                <td> <a href="  #=24">Edit</a> | <a href="  ##=24">Delete</a> </td>

                            </tr>

                        </tbody>



                    </table>
                </div>
            </div>



            <!--table end  -->


        </div>
    </section>









    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous">
    </script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
</body>

</html>